<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Jota - Utensílios e Ferramentas{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
    <header>
        <h1>Jota - Utensílios e Ferramentas</h1>
        <div class="icone-carrinho">
            <a href="/carrinho" class="link-carrinho">
                <img src="/static/img/icons/carrinho-de-compras.svg" alt="Carrinho de Compras" />
            </a>
            <span id="contador-carrinho">0</span>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>